*{
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracker{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width:100%;
}

input[type="text"]{
  border:none;
  border-bottom: 1px solid #005082;
  width:372px;
  outline:none;
}

button#track-btn{
  background-color:#005082;
  border-radius: 25px;
  outline:none;
  color:white;
  width:125px;
  padding:0.8rem 0;
  font-size:1rem;
  letter-spacing: 1px;
  cursor:pointer;
}

button#track-btn:hover{
  background-color:#00508294;
}

.details{
  display:none;
  margin-top: 1.5rem;
}

.details-list{
  list-style: none;
  margin:0;
  padding:0;
}

.details-list__entry{
  font-size:1rem;
  margin-top:0.5rem;
}

.details-list .details-list__datetime{
  font-weight: bold;
}

.details-list .location{
  font-weight: bold;
}

@media(min-width:760px){
  .details-list__entry{
    margin-top:1rem;
  }
}